@import '../styles/index.scss';

.header-anchor {
  position: absolute;
  top: 0.1em;
  bottom: 0;
  left: 0;
  left: -1.1em;
  display: flex;
  width: 1.1em;
  height: 1.1em;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  background-color: $color-input-background;
  font-size: 1em;
  opacity: 0;
  text-decoration: none;
  transition: $transition-base;
}

.header-anchor:hover {
  text-decoration: none;
}

h1:hover .header-anchor,
h2:hover .header-anchor,
h3:hover .header-anchor {
  opacity: 1;
}

h1,
h2,
h3 {
  position: relative;
}
