@import './index.scss';

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Body */
body {
  min-height: 100vh;
  margin: 0;
  background-color: $color-body;
  color: $color-text;
  font-family: Arial, sans-serif;
  font-size: $font-size-default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.35;
  scroll-behavior: smooth;
  text-rendering: optimizespeed;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  padding: 0 0 0 $spacing-6;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea {
  font: inherit;
}

/* Anchors */
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

p {
  a {
    color: var(--color-primary);
    text-decoration: underline;
  }

  a:hover {
    color: var(--color-primary-hover);
  }
}

/* Headings */
h1,
h2,
h3 {
  font-weight: 600;
}

h1,
h2,
h3,
p,
ul,
ol {
  margin: $text-margin;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}

/* Table */
th {
  text-align: left;
}

th,
td {
  vertical-align: top;
}

/* nprogress */
#nprogress {
  pointer-events: none;

  .bar {
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    min-height: $spacing-3;
    background: rgb(13 148 136);
    background: $color-primary;
    opacity: 0.75;
  }
}
